@import url(./_reset.scss);

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
$font-title:'Bebas Neue', sans-serif;
$font-text: 'Montserrat', sans-serif;

$tab-screen: 870px;
$mb-screen:550px;

@mixin media-maxwidth($screensize){
    @media (max-width:$screensize) {
        @content;
    } 
}

body {
    background-color: rgb(247,243,240);
    header {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 30px;
        img {
            width: 60px;
        }
        h1 {
            font: {
                family: $font-title;
                size: 10vh;
            }
        }
    }
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card {
    background-color: white;
    opacity: 0.5;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin: 1rem;
    transition: transform 0.5s ease, opacity 0.5s ease;
    @include media-maxwidth($tab-screen){
        width: 40%;
    }
    @include media-maxwidth($mb-screen){
        width: 85%;
    }
    p {
        font-family: $font-text;
        padding: 0 1rem;
    }
    img {
        width: 100%;
    }
    &:hover {
        opacity: 1;
        transform: scale(1.2);
        z-index: 1;
    }
    &_title {
        padding: 0 1rem;
        font: {
            family :$font-title;
            size: 40px;
            }
    }
    &_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        opacity: 0.7;
    }
    &_teaser {   
        img {
            width: 30px;
            margin: 5% 45%;
            }
    }
    &_deletebtn {
        border: solid 1px;
        background-color: white;
        &:hover{
            color: red;
            }
    }
}


